/* 1 rem = 16 px */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.PopUp {
    width: 61.875rem;
    height: 40rem;
    background: #FFCA8B;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    flex-direction: column;
}
.block {
    display: block;
}
.PopUp__Form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 80px;
    padding-right: 50px;
}
.PopUp__Form span {
    text-align: start;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Raleway-Bold;
    letter-spacing: 0.175em;
}
.PopUp__Form input {
    width: 90%;
    height: 58px;
    font-size: 24px;
    padding-left: 5px;
    background-color:#F1F1F1A6;;
    border: none;
}
.PopUp__Form input::placeholder {
    color: rgba(0, 0, 0, 0.38);
    font-size: 24px;
    letter-spacing: 0.175em;
    font-family: Raleway-Medium; 
}
.PopUp__typeWebSite,.PopUp__Design,.PopUp__Adaptability {
    display: flex;
    flex-direction: column;
}

.PopUp__h4 {
   font-size: 36px;
   text-align: start;
   font-family: Raleway-Bold;
   letter-spacing: 0.175em;
   margin-bottom: 5px;
}
.PopUp__h5 {
    font-size: 24px;
    text-align: start;
    font-family: Raleway-Bold;
    letter-spacing: 0.175em;
    margin-bottom: 20px;
}
.PopUp__Button {
    width: 289px;
    height: 55px;
    box-shadow: 10px 13px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 24px;
    background: #FF8800;
    margin-top: 30px;
    align-self: center;
    font-family: Raleway-Medium; 
}
.PopUp__Exit {
    display: flex;
    justify-content: end;
    padding-top: 12px;
    padding-right: 12px;
    background: #FFCA8B;
}
.PopUp__Exit button {
    font-size: 44px;
    font-weight: 600;
    width: 49px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFCA8B;
    border: none;
}