* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Raleway-Medium";
  font-style: normal;
  font-weight: 500;
  src:url(./components/fonts/Raleway-Medium.ttf)
}
@font-face {
  font-family: "Raleway-Bold";
  font-style: normal;
  font-weight: 700;
  src:url(./components/fonts/Raleway-Bold.ttf)
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
